{% extends "mealy/base.html" %}

{% block content %}
<div class="twelve columns">
  <h4>About this site</h4>
  <p>Mealy 0.3</p>

  <h3>Changelog</h3>
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Version</th>
        <th>Date</th>
        <th>Notes</th>
      </tr>
      <tr>
        <td>0.3</td>
        <td>Apr. 8, 2016</td>
        <td>Added progress bars for meal closure (CSS very hackish)
        </td>
      </tr>
      <tr>
        <td>0.2.4</td>
        <td>Apr. 7, 2016</td>
        <td>Made pretty dish function safe, added "Mealy Users" group check
        </td>
      </tr>
      <tr>
        <td>0.2.3</td>
        <td>Apr. 7, 2016</td>
        <td>Switched header and navigation to a top bar
        </td>
      </tr>
      <tr>
        <td>0.2.2</td>
        <td>Apr. 6, 2016</td>
        <td>Minor enhancements.
          User-facing:
          <ul>
            <li>Added link to view all inventory items</li>
            <li>Made dish names more readable (actually show first item)</li>
            <li>Users can update an item price on its page</li>
          </ul>
          Other:
          <ul>
            <li>Modularised recalculation of tickets (inst objects)</li>
            <li>Added methods to change price, name, type of an inst</li>
        </td>
      </tr>
      <tr>
        <td>0.2.1</td>
        <td>Apr. 5, 2016</td>
        <td>Minor enhancements.
          Non-user-facing:
          <ul>
            <li>Added all inventory items for future use</li>
            <li>Added ability to arbitrarily finalise/de-finalise instances</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><b>0.2</b></td>
        <td>Mar. 26, 2016</td>
        <td>Significant usability enhancements.
          User-facing:
          <ul>
            <li>Changed price formatting to display £&#47;pence as sensible</li>
            <li>Show closed, open costs of meals</li>
            <li>Cleaned up meal titles</li>
            <li>Removed table of meals from main page</li>
            <li>Order dishes/tickets in meals/dishes (used to be random)</li>
            <li>Indicate open meals on calendar and add price summary</li>
            <li>Changed inventory to table layout</li>
            <li>Show more detail in inventory</li>
          </ul>
          Other:
          <ul>
            <li>Reflowed file formatting</li>
            <li>Removed extraneous templates</li>
            <li>Added filter to format prices</li>
            <li>Require user to be logged in (no AnonymousUser)</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><b>0.1</b></td>
        <td>Mar. 18, 2016</td>
        <td>Initial working release with decent styling.
          Basic functionality of adding items, meals, dishes present.</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}
