{% extends "mealy/base.html" %}

{% block content %}
<div class="twelve columns">
  <h4>About this site</h4>
  <p>Mealy 0.5.2</p>

  <h3>Changelog</h3>
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Version</th>
        <th>Date</th>
        <th>Notes</th>
      </tr>
      <tr>
        <td>0.5.2</td>
        <td>Apr. 26, 2016</td>
        <td>Can add standard instances (if has permission)
        </td>
      </tr>
      <tr>
        <td>0.5.1</td>
        <td>Apr. 25, 2016</td>
        <td>User-facing:
          <ul>
            <li>Created model for units (no longer a free text field)</li>
            <li>Can now delete unused instances</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><b>0.5</b></td>
        <td>Apr. 24, 2016</td>
        <td>User-facing: add basic support for standard items
        </td>
      </tr>
      <tr>
        <td>0.4.5</td>
        <td>Apr. 21, 2016</td>
        <td>User-facing:
          <ul>
            <li>Add methods to delete empty meals, dishes</li>
            <li>Dish naming using highest cost item</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>0.4.4</td>
        <td>Apr. 19, 2016</td>
        <td>Non-user-facing:
          <ul>
            <li>Add hooks for filtering in django admin</li>
            <li>Fix names and plurals in django admin</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>0.4.3</td>
        <td>Apr. 10, 2016</td>
        <td>Non-user-facing:
          <ul>
            <li>More class-based views</li>
            <li>Changed custom <code>remove</code> method for tickets to a
              <code>post_delete</code> call</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>0.4.2</td>
        <td>Apr. 10, 2016</td>
        <td>Non-user-facing:
          <ul>
            <li>Employ some built-in form validation</li>
            <li>Only show resource objects to owners (!)</li>
            <li>Change some traditional views to class-based views</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>0.4.1</td>
        <td>Apr. 9, 2016</td>
        <td>Non-user-facing:
          <ul>
            <li>Simplification of model code</li>
            <li>Deprecated some fields</li>
            <li>Added some assertions to model functions</li>
            <li>Small bugfixes in meal cost adjustment</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><b>0.4</b></td>
        <td>Apr. 9, 2016</td>
        <td>Add way to remove tickets
        </td>
      </tr>
      <tr>
        <td><b>0.3</b></td>
        <td>Apr. 8, 2016</td>
        <td>Added progress bars for meal closure (CSS very hackish)
        </td>
      </tr>
      <tr>
        <td>0.2.4</td>
        <td>Apr. 7, 2016</td>
        <td>Made pretty dish function safe, added "Mealy Users" group check
        </td>
      </tr>
      <tr>
        <td>0.2.3</td>
        <td>Apr. 7, 2016</td>
        <td>Switched header and navigation to a top bar
        </td>
      </tr>
      <tr>
        <td>0.2.2</td>
        <td>Apr. 6, 2016</td>
        <td>Minor enhancements.
          User-facing:
          <ul>
            <li>Added link to view all inventory items</li>
            <li>Made dish names more readable (actually show first item)</li>
            <li>Users can update an item price on its page</li>
          </ul>
          Other:
          <ul>
            <li>Modularised recalculation of tickets (inst objects)</li>
            <li>Added methods to change price, name, type of an inst</li>
        </td>
      </tr>
      <tr>
        <td>0.2.1</td>
        <td>Apr. 5, 2016</td>
        <td>Minor enhancements.
          Non-user-facing:
          <ul>
            <li>Added all inventory items for future use</li>
            <li>Added ability to arbitrarily finalise/de-finalise instances</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><b>0.2</b></td>
        <td>Mar. 26, 2016</td>
        <td>Significant usability enhancements.
          User-facing:
          <ul>
            <li>Changed price formatting to display £&#47;pence as sensible</li>
            <li>Show closed, open costs of meals</li>
            <li>Cleaned up meal titles</li>
            <li>Removed table of meals from main page</li>
            <li>Order dishes/tickets in meals/dishes (used to be random)</li>
            <li>Indicate open meals on calendar and add price summary</li>
            <li>Changed inventory to table layout</li>
            <li>Show more detail in inventory</li>
          </ul>
          Other:
          <ul>
            <li>Reflowed file formatting</li>
            <li>Removed extraneous templates</li>
            <li>Added filter to format prices</li>
            <li>Require user to be logged in (no AnonymousUser)</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><b>0.1</b></td>
        <td>Mar. 18, 2016</td>
        <td>Initial working release with decent styling.
          Basic functionality of adding items, meals, dishes present.</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}
