{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Meal Manager">
  <meta name="keywords" content="">
  <meta name="author" content="Nicholas Sim">
  <title>{% block title %}Mealy{% endblock title %}</title>
  <link href="{% static 'mealy/style.css' %}" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600"
    rel="stylesheet" type="text/css">
  <link href="{% static 'skeleton/normalize.css' %}" rel="stylesheet">
  <link href="{% static 'skeleton/skeleton.css' %}" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="one-half column">
        <h1>Mealy</h1>
        <p>Welcome to mealy, <em>{{user}}</em>.</p>
        <p>{% block links %}
          <a href="{% url 'mealy:inventory' %}">Inventory</a>
          {% endblock links %}</p>
      </div>
    </div>

    <div class="row">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
</body>
</html>
