{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Meal Manager">
  <meta name="keywords" content="">
  <meta name="author" content="Nicholas Sim">
  <title>{% block title %}Mealy{% endblock title %}</title>
  <link href="{% static 'mealy/style.css' %}" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600"
    rel="stylesheet" type="text/css">
  <link href="{% static 'skeleton/normalize.css' %}" rel="stylesheet">
  <link href="{% static 'skeleton/skeleton.css' %}" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="row" id="navbar">
      <header>
        <div class="two columns">
          <h1>Mealy</h1>
        </div>
        <div class="eight columns">
          <nav>
            {% block links %}
            <ul>
              <li><a href="{% url 'mealy:index' %}">Main</a></li>
              <li><a href="{% url 'mealy:inventory' %}">Inventory</a></li>
            </ul>
            {% endblock links %}
          </nav>
        </div>
        <div class="two columns">
          <p><em>{{ user }}</em></p>
        </div>
      </header>
    </div>

    <div class="row">
      {% block content %}
      {% endblock content %}
    </div>

    <div class="row">
      <hr>
      <p>Mealy on <a href="https://github.com/nw0/mealy/">GitHub</a>.
        <a href="{% url 'mealy:about' %}">About this site</a></p>
    </div>
  </div>
</body>
</html>
