{% extends "mealy/base.html" %}
{% load mathfilters %}
{% load mealy_extras %}

{% block links %}
<a href="{% url 'mealy:index' %}">Main</a>
<a href="{% url 'mealy:inventory' %}">Inventory</a>
{% endblock links %}

{% block content %}
<div class="eight columns">
  <p>{{ dish.cooking_style }} @
    {{ dish.get_closed_cost|price:dish.get_open_cost}}, part of
    <a href="{% url 'mealy:meal_detail' dish.par_meal.id %}">
      {{ dish.par_meal }}</a></p>

  {% if tickets %}
  <p>It has the following tickets allocated to it:</p>
  <ol>
    {% for ticket in tickets %}
    <li>Ticket for {{ ticket.used_on_ticket }} of
      {{ ticket.resource_inst.res_name }}
      <a href="{% url 'mealy:inv_detail' ticket.resource_inst.id %}">
        ({{ ticket.resource_inst.id }})</a> costing
        {{ ticket.ticket_cost|price }}{% if not ticket.finalised %}*{% endif %}
      </li>
    {% endfor %}
  </ol>
  {% else %}
  <p>There are no tickets associated with this meal.</p>
  {% endif %}
</div>
<div class="four columns">
  <h4>Add ticket</h4>
  <form action="{% url 'mealy:dish_detail' dish.id %}" method="post">
    {% csrf_token %}
    {{ ticket_form.as_p }}
    <input type="submit" />
  </form>
</div>
{% endblock content %}
