{% extends "mealy/base.html" %}
{% load mathfilters %}
{% load mealy_extras %}

{% block content %}
<h4>{{ inst.res_name }}</h4>
<p>This is a <a href="{% url 'mealy:types_detail' inst.res_type.r_name %}">
  {{inst.res_type.r_name}}</a>, originally {{inst.amt_original}}
  {{inst.units_original}} and purchased at {{inst.price}}p on
  {{inst.purchase_date}}. We have used {{inst.used_so_far}} units,
  and the {%if inst.best_before%}best before{%else%}<em>expiry</em>{%endif%}
  date is {{inst.best_bef_date}}.</p>

<div class="row">
  <div class="four columns">
    {% if inst.exhausted %}
    <p>This instance is exhausted.</p>
    <form action="{% url 'mealy:inv_detail' inst.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="formtype" value="finalise" />
      <input type="hidden" name="finalisation" value="definal" />
      <input type="submit" value="De-finalise" />
    </form>
    {% else %}
    <p>This instance is not exhausted.</p>
    <form action="{% url 'mealy:inv_detail' inst.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="formtype" value="finalise" />
      <input type="hidden" name="finalisation" value="final" />
      <input type="submit" value="Finalise" />
    </form>
    {% endif %}

    <h4>Change attributes</h4>
    <form action="{% url 'mealy:inv_detail' inst.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="formtype" value="attribchange" />
      {{ attrib_form.as_p }}
      <input type="submit" />
    </form>
  </div>

  <div class="eight columns">
    <h4>Ticket list</h4>
    <table>
      <thead>
        <th>Meal</th>
        <th>Dish</th>
        <th>Units</th>
        <th>Price</th>
        <th>Admin</th>
      </thead>
      <tbody>
        {% for ticket in tickets %}
        <tr>
          <td>{{ ticket.par_dish.par_meal }}</td>
          <td><a href="{% url 'mealy:dish_detail' ticket.par_dish.id %}">
            {{ ticket.par_dish }}</a></td>
          <td>{{ ticket.used_on_ticket }}</td>
          <td>{{ ticket.ticket_cost|price }}</td>
          <td><form action="{% url 'mealy:inv_delete_ticket' ticket.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Cancel"/>
          </form></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
