{% extends "mealy/base.html" %}
{% load mathfilters %}
{% load mealy_extras %}

{% block content %}
<h4>{{ inst.res_name }}</h4>
<p>This is a <a href="{% url 'mealy:types_detail' inst.res_type.r_name %}">
  {{ inst.res_type.r_name }}</a>. It cost {{ inst.price|price }} for
  {{ inst.amt_original|floatformat:"-2" }} {{ inst.orig_unit }}, purchased
  on {{ inst.purchase_date|date:"M j, Y" }}. You have used
  {{ inst.used_so_far|floatformat:"-2" }} unit(s), and the
  {% if inst.best_before %}best before{% else %}<em>expiry</em>{% endif %} date
  is {{ inst.best_bef_date|date:"M j, Y" }}.</p>

<div class="row">
  <div class="four columns">
    {% if inst.exhausted %}
    <p>This instance is exhausted.</p>
    <form action="{% url 'mealy:inv_detail' inst.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="formtype" value="finalise" />
      <input type="hidden" name="finalisation" value="definal" />
      <input type="submit" value="De-finalise" />
    </form>
    {% else %}
    <p>This instance is not exhausted.</p>
    <form action="{% url 'mealy:inv_detail' inst.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="formtype" value="finalise" />
      <input type="hidden" name="finalisation" value="final" />
      <input type="submit" value="Finalise" />
    </form>
    {% endif %}

    <h4>Change attributes</h4>
    <form action="{% url 'mealy:inv_detail' inst.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="formtype" value="attribchange" />
      {{ attrib_form.as_p }}
      <input type="submit" />
    </form>
  </div>

  <div class="eight columns">
    {% if tickets %}
    <h4>Ticket list</h4>
    <table>
      <thead>
        <th>Meal</th>
        <th>Dish</th>
        <th>Units</th>
        <th>Price</th>
        <th>Admin</th>
      </thead>
      <tbody>
        {% for ticket in tickets %}
        <tr>
          <td>{{ ticket.par_dish.par_meal }}</td>
          <td><a href="{% url 'mealy:dish_detail' ticket.par_dish.id %}">
            {{ ticket.par_dish }}</a></td>
          <td>{{ ticket.used_on_ticket }}</td>
          <td>{{ ticket.ticket_cost|price }}</td>
          <td><form action="{% url 'mealy:inv_delete_ticket' ticket.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Cancel"/>
          </form></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h4>No tickets</h4>
    <p>This instance hasn't been used yet.</p>
    <form action="{% url 'mealy:inst_delete' inst.id %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Delete Instance" />
    </form>
    {% endif %}

    <h4>Similar items</h4>
    {% if sim_list %}
    <table class="invent">
      <thead>
        <tr>
          <th>&#8470;</th>
          <th>Name</th>
          <th>Used</th>
          <th>Price</th>
          <th>Best Bef.</th>
          <th>Used?</th>
          <th>per unit</th>
        </tr>
      </thead>
      <tbody>
        {% for item in sim_list %}
        <tr>
          <td>{% if item == inst %}*{% endif %}</td>
          <td><a href="{% url 'mealy:inv_detail' item.id %}">
            {{ item.res_name }}</a> {{ item.amt_original|floatformat:"-2" }}
            {{ item.orig_unit.shortcode }}</td>
          <td>{{ item.used_so_far }}</td>
          <td>{{ item.price|price }}<br>
            {% if item.used_so_far > 0 %}
            {{ item.price|div:item.used_so_far|price }}/u
            {% else %}-{% endif %}</td>
          <td>{{ item.best_bef_date|date:"M j, Y" }}</td>
          <td>{{ item.exhausted }}</td>
          <td>{% if item.used_so_far > 0 %}
            {{ item.amt_original|div:item.used_so_far|floatformat:"-2" }}
            {{ item.orig_unit.shortcode }}/u{% else %}-{% endif %}</td>
        {% endfor %}
      </tbody>
    </table>
    <p>(*) the current instance</p>
    <p>{% if sim_att.tot_usage > 0 %}Total usage of
      {{ sim_att.tot_usage|floatformat:"-2" }} units for
      {{ sim_att.tot_cost|div:sim_att.tot_usage|price }} per
      {{ sim_att.tot_vol|div:sim_att.tot_usage|floatformat:"-2" }}
      {{ inst.orig_unit.shortcode }} unit.{% endif %}</p>
    {% else %}
    <p>No similar items</p>
    {% endif %}
  </div>
</div>
{% endblock %}
