{% extends "mealy/base.html" %}
{% load mathfilters %}
{% load mealy_extras %}

{% block title %}Mealy - Inventory{% endblock title %}

{% block links %}
<ul>
  <li><a href="{% url 'mealy:index' %}">Main</a></li>
  <li><a href="{% url 'mealy:inventory' %}">Inventory</a></li>
  <li><a href="{% url 'mealy:types' %}">Types</a></li>
</ul>
{% endblock links %}

{% block content %}
  <div class="eight columns">
    <h4>Inventory</h4>
    {% if items %}
    {% if not showAll %}
    <p>We currently have the following items in our inventory (<a
      href="{% url 'mealy:inventory_all' %}">see all</a>):</p>
    {% else %}
    <p>This is a list of all historical items in our inventory (<a
      href="{% url 'mealy:inventory' %}">see current</a>):</p>
    {% endif %}
    <table class="u-full-width invent">
      <thead>
        <tr>
          <th>&#8470;</th>
          <th>Type</th>
          <th>Name</th>
          <th>Used</th>
          <th>Price</th>
          <th>Best Bef.</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        <tr>
          <td></td>
          <td><a href="{% url 'mealy:types_detail' item.res_type.r_name %}"
            >{{ item.res_type.r_name }}</a></td>
          <td><a href="{% url 'mealy:inv_detail' item.id %}">
            {{ item.res_name }}</a> {{ item.amt_original }}
            {{ item.units_original }}</td>
          <td>{{ item.used_so_far }}</td>
          <td>{{ item.price|price }}<br>
            {% if item.used_so_far > 0 %}
            {{ item.price|div:item.used_so_far|price }}/u
            {% else %}-{% endif %}</td>
          <td>{{ item.best_bef_date|date:"M j, Y" }}</td>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No items in inventory.</p>
    {% endif %}
  </div>

  <div class="four columns">
    <h4>Add items</h4>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'mealy:inv_new' %}" method="post">
      {% csrf_token %}
      <label for="res_name">Resource Name</label>
      <input type="text" name="res_name" id="res_name" />

      <label for="res_type">Resource Type</label>
      <input type="text" list="res_type" name="res_type" />
      <datalist name="res_type" id="res_type">
        {% for tp in types %}
        <option value="{{tp.r_name}}" />
        {% endfor %}
      </datalist>

      <label for="price">Price (in pence)</label>
      <input type="text" maxlength="4" name="price" id="price" />

      <label for="orig_units">Units (e.g. ml)</label>
      <input type="text" maxlength="6" name="orig_units" id="orig_units" />

      <label for="qty">Quantity/Amount</label>
      <input type="text" maxlength="6" name="qty" id="qty" />

      <label for="use_formal">
        <input type="checkbox" name="use_formal" id="use_formal" />
        <span class="label-body">Use formal units</span>
      </label>

      <label for="bb_date">Best before</label>
      <input type="date" name="bb_date" id="bb_date" />

      <label for="use_bb">Expiry type</label>
      <label for="use_bbt">
        <input type="radio" name="use_bb" id="use_bbt" value="True">
        <span class="label-body">Best before</span>
      </label>
      <label for="use_bbf">
        <input type="radio" name="use_bb" id="use_bbf" value="False">
        <span class="label-body">Expires</span>
      </label>

      <label for="purchase_date">Purchased on</label>
      <input type="date" name="purchase_date" id="purchase_date" />
      <br />

      <input type="submit" />
    </form>
  </div>
  {% endblock content %}
