{% extends "mealy/base.html" %}
{% load mathfilters %}
{% load mealy_extras %}

{% block content %}
<div class="eight columns">
  <h4>{{ object }}</h4>
  <p>This meal cost {{ object.get_meal_cost|price }} with
    {{object.get_dish_deps}} unresolved items.</p>
  {% if object.dish_set.count %}
  <p>It has these dishes:</p>
  <ol>
    {% for dish in object.dish_set.all|dictsort:"id" %}
    <li><a href="{% url 'mealy:dish_detail' dish.id %}">
      {{ dish|dish_pretty }}</a> at
      {{ dish.get_closed_cost|price:dish.get_open_cost }} (closed + open) with
      {{dish.ticket_deps}} open tickets</li>
    {% endfor %}
  </ol>
  {% else %}
  <p>No dishes</p>
  {% endif %}
</div>
<div class="four columns">
  <h4>Add dish</h4>
  <form action="{% url 'mealy:add_dish' object.id %}" method="post">
    {% csrf_token %}
    {{ dish_form.as_p }}
    <input type="submit" />
  </form>
</div>
{% endblock content %}
