{% extends "mealy/base.html" %}
{% load mathfilters %}

{% block links %}
<a href="{% url 'mealy:index' %}">Main</a>
<a href="{% url 'mealy:inventory' %}">Inventory</a>
{% endblock links %}

{% block content %}
<div class="eight columns">
  <h4>{{ meal.cons_time }}</h4>
  <p>This is a {{meal.meal_type}} you ate on {{meal.cons_time}},
    costing {{meal.meal_cost}} with {{meal.dish_deps}} unresolved items.</p>
  {% if dishes %}
  <p>It has these dishes:</p>
  <ol>
    {% for dish in dishes %}
    <li><a href="{% url 'mealy:dish_detail' dish.id %}">
      {{ dish.cooking_style }}</a> with {{ dish.open_cost }} open and
      {{dish.ticket_deps}} deps</li>
    {% endfor %}
  </ol>
  {% else %}
  <p>No dishes</p>
  {% endif %}
</div>
<div class="four columns">
  <h4>Add dish</h4>
  <form action="{% url 'mealy:add_dish' meal.id %}" method="post">
    {% csrf_token %}
    {{ dish_form.as_p }}
    <input type="submit" />
  </form>
</div>
{% endblock content %}
