{% extends "mealy/base.html" %}
{% load mathfilters %}

{% block content %}
<p>This is the {{ r_type.r_name }} category. {% if r_type.r_parent %}Its parent is
  <a href="{% url 'mealy:types_detail' r_type.r_parent.r_name %}">{{ r_type.r_parent.r_name }}</a> and
  these{% else %}These{% endif %} are its children:</p>
{% if r_type.resource_type_set.count %}
<ul>
  {% for tp in r_type.resource_type_set.all %}
  <li><a href="{% url 'mealy:types_detail' tp.r_name %}">
    {{ tp.r_name }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>No resource types here.</p>
{% endif %}
{% endblock content %}
