{% extends "mealy/base.html" %}
{% load mathfilters %}
{% load mealy_extras %}

{% block title %}Mealy - Inventory{% endblock title %}

{% block scripts %}
<script type="text/javascript">
  //<![CDATA[
  $(window).load(function(){
    $('select').on('change', function(e){
      $.get("{% url 'mealy:std_inst_raw' %}?id=" + $('option:selected', this).val(), function(data){
        document.getElementById("textbox1").textContent = data;
      });
      e.preventDefault();
    });
  });//]]>
</script>
{% endblock %}

{% block links %}
<ul>
  <li><a href="{% url 'mealy:index' %}">Main</a></li>
  <li><a href="{% url 'mealy:inventory' %}">Inventory</a></li>
  <li><a href="{% url 'mealy:types' %}">Types</a></li>
</ul>
{% endblock links %}

{% block content %}
  <div class="eight columns">
    <h4>Inventory</h4>
    {% if object_list %}
    {% if not showAll %}
    <p>We currently have the following items in our inventory (<a
      href="{% url 'mealy:inventory_all' %}">see all</a>):</p>
    {% else %}
    <p>This is a list of all historical items in our inventory (<a
      href="{% url 'mealy:inventory' %}">see current</a>):</p>
    {% endif %}
    <table class="u-full-width invent">
      <thead>
        <tr>
          <th>&#8470;</th>
          <th>Type</th>
          <th>Name</th>
          <th>Used</th>
          <th>Price</th>
          <th>Best Bef.</th>
        </tr>
      </thead>
      <tbody>
        {% for item in object_list %}
        <tr>
          <td></td>
          <td><a href="{% url 'mealy:types_detail' item.res_type.r_name %}"
            >{{ item.res_type.r_name }}</a></td>
          <td><a href="{% url 'mealy:inv_detail' item.id %}">
            {{ item.res_name }}</a> {{ item.amt_original }}
            {{ item.units_original }}</td>
          <td>{{ item.used_so_far }}</td>
          <td>{{ item.price|price }}<br>
            {% if item.used_so_far > 0 %}
            {{ item.price|div:item.used_so_far|price }}/u
            {% else %}-{% endif %}</td>
          <td>{{ item.best_bef_date|date:"M j, Y" }}</td>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No items in inventory.</p>
    {% endif %}
  </div>

  <div class="four columns">
    <h4>Add items</h4>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'mealy:inv_new' %}" method="post">
      {% csrf_token %}
      {{ niForm.as_p }}
      <input type="submit" />
    </form>

    <h4>Add standard item</h4>
    <form action="{% url 'mealy:inv_new_std' %}" method="post">
      {% csrf_token %}
      <p>Item description: <span id="textbox1">(select an item)</span></p>
      {{ nisForm.as_p }}
      <input type="submit" />
    </form>
  </div>
  {% endblock content %}
