{% extends "mealy/base.html" %}
{% load mathfilters %}

{% block links %}
<a href="{% url 'mealy:index' %}">Main</a>
<a href="{% url 'mealy:inventory' %}">Inventory</a>
{% endblock links %}

{% block content %}
<p>This is the {{res_name}} category. {% if par %}Its parent is
  <a href="{% url 'mealy:types_detail' par.r_name %}">{{ par.r_name }}</a> and
  these{% else %}These{% endif %} are its children:</p>
{% if type_list %}
<ul>
  {% for tp in type_list %}
  <li><a href="{% url 'mealy:types_detail' tp.r_name %}">
    {{ tp.r_name }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>No resource types here.</p>
{% endif %}
{% endblock content %}
