tr.meal-cell-head {
  font-size: 0.7em;
  text-decoration: underline;
  vertical-align: top;
  border-bottom: none;
}

td.cell-head{
  border-bottom: none;
  padding-bottom: 0;
}

tr.meal-cell-foot {
  font-size: .8em;
  vertical-align: bottom;
}

table.invent {
  counter-reset: rowNumber;
}

table.invent tbody tr {
  counter-increment: rowNumber;
}

table.invent tbody tr td:first-child:before {
  content: counter(rowNumber);
}

table li {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}

table ul {
  margin: 0;
  padding: 0;
}

table form {
  margin: 0;
}

table form input {
  margin: 0;
}

header h1 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3em;
}

header p {
  float: right;
  margin: 0;
  font-weight: 400;
  font-size: 1em;
}

#navbar {
  border-bottom: #AAA 1px solid;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
}

nav ul {
  list-style: none;
  margin: 0em 0 0 0;
}

nav li {
  float: left;
  margin: 0;
}

nav li a {
  margin: 0 2rem;
  color: #222;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1em;
}

div.mealln {
  height: 1.3rem;
  max-width: 9rem;
  position: absolute;
}

progress, progress[role] {
  position: relative;
  top: -1.4rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  background-size: auto;
  width: 6rem;
	height: 2px;
  border: 0;
  margin: 0;
  padding: 0;
}

progress[value]::-webkit-progress-bar {
  background: #e74c3c;
}

progress[value]::-webkit-progress-value {
  background: #2ecc71;
}

progress[value]::-moz-progress-bar {
  background: #2ecc71;
}
