tr.meal-cell-head {
  font-size: 0.7em;
  text-decoration: underline;
  vertical-align: top;
  border-bottom: none;
}

td.cell-head{
  border-bottom: none;
  padding-bottom: 0;
}

tr.meal-cell-foot {
  font-size: .8em;
  vertical-align: bottom;
}

table.invent {
  counter-reset: rowNumber;
}

table.invent tbody tr {
  counter-increment: rowNumber;
}

table.invent tbody tr td:first-child:before {
  content: counter(rowNumber);
}

table li {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}

table ul {
  margin: 0;
  padding: 0;
}

header p {
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2em;
}

#navbar {
  border-bottom: #AAA 1px solid;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
}

nav ul {
  list-style: none;
  margin: .2em 0 0 0;
}

nav li {
  float: left;
  margin: 0;
}

nav li a {
  margin: 0 2rem;
  color: #222;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1em;
}
